@{
    ViewBag.Title = "About Us:";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="container col-md-4">
        <img class="img-responsive img-circle center-block" height="180" width="180" src="~/Images/profile_placeholder_300x300.jpg" />
        <div class="text-center text-info">
            <h3 class="text-primary">Mateusz</h3>
            <a href="#"><span class="fa fa-facebook-square fa-3x"></span></a>
            <a href="#"><span class="fa fa-twitter-square fa-3x"></span></a>
            <a href="#"><span class="fa fa-skype fa-3x"></span></a>
        </div>
    </div>
    <div class="container col-md-4">
        <img class="img-responsive img-circle center-block" height="180" width="180" src="~/Images/profile_placeholder_190x190.jpg" />
        <div class="text-center text-info">
            <h3 class="text-primary">Alex</h3>
            <a href="#"><span class="fa fa-facebook-square fa-3x"></span></a>
            <a href="#"> <span class="fa fa-twitter-square fa-3x"></span></a>
            <a href="#"><span class="fa fa-skype fa-3x"></span></a>
        </div>
    </div>
    <div class="container col-md-4">
        <img class="img-responsive img-circle center-block" height="180" width="180" src="~/Images/profile_placeholder_600x600.jpg" />
        <div class="text-center text-info">
            <h3 class="text-primary">John Doe</h3>
            <a href="#"><span class="fa fa-facebook-square fa-3x"></span></a>
            <a href="#"><span class="fa fa-twitter-square fa-3x"></span></a>
            <a href="#"><span class="fa fa-skype fa-3x"></span></a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="container col-md-6">
        <h3 style="color:darkblue">
            Eight Hour Day is a design boutique, and we love what we do. It’s who we are. As a husband and wife team working side by side, we aspire for the designed life(style): a place where work, life and inspiration are all equal and integrated organically.
            Our goal is to create work that is honest. Solutions that are exploratory, educational and inspirational. Creative that is conceptually interesting and visually stunning. We design with the belief that process and collaboration should be as exciting and fun as the end result.
            Let’s work together! Drop us an email to get started!
        </h3>
    </div>
    <div class="col-md-6">
        <img src="http://loremflickr.com/640/480/computer,laptop" class="img-responsive" alt="computer1">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="http://lorempixel.com/640/480/technics/" class="img-responsive" alt="computer2">
    </div>
    <div class="container col-md-6">
        <h3 class="text-primary">
            Eight Hour Day is a design boutique, and we love what we do. It’s who we are. As a husband and wife team working side by side, we aspire for the designed life(style): a place where work, life and inspiration are all equal and integrated organically.
            Our goal is to create work that is honest. Solutions that are exploratory, educational and inspirational. Creative that is conceptually interesting and visually stunning. We design with the belief that process and collaboration should be as exciting and fun as the end result.
            Let’s work together! Drop us an email to get started!
        </h3>
    </div>
</div>
