
@{
    ViewBag.Title = "ProductDetailList";
}

<style type="text/css">
    .incenter {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }
</style>
<h2>Laptop Lenovo C40</h2>
<div class="row">
    <div class="col-md-5 incenter">
        <img src="http://savepic.su/6533640.png" class="img-responsive img-thumbnail" />
    </div>
    <div class="col-md-6 text-center incenter">
        <a href="#" class="incenter"><h3>Lenovo C40</h3></a>
        <h4>Price 1$</h4>
        <p>10 in Store</p>
        <div class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Description</a></li>
                <li><a data-toggle="tab" href="#panel2">Parameters</a></li>
                <li><a data-toggle="tab" href="#panel3">Comments</a></li>
                <li><a data-toggle="tab" href="#panel4">Photo</a></li>
            </ul>

            <div class="tab-content">
                <div id="panel1" class="tab-pane fade in active">
                    <h3>In future</h3>
                    <p>Developers, designers, and engineers, rejoice! Our most mobile workstation ever has arrived. The W550s have been meticulously crafted to be slimmer and lighter than past models, yet maintain incredible levels of power. With the latest 5th Gen Intel® Core™ processors, high-end discrete graphics, and ISV-certifications for proven performance - you'll have all the power you'll need, without the worry of being tied to your desk.</p>
                </div>
                <div id="panel2" class="tab-pane fade">
                    <pre>                                     
            Type: All-in-one, Touchscreen All-In-One
            Processor Family: AMD A6
            Processor Name: AMD A6-6310
            Processor Speed: 1.8 GHz
            RAM: 8 GB
            Storage Capacity (as Tested): 1 TB
            Storage Type: HDD
            Graphics Card: AMD Radeon R4
            Primary Optical Drive: Dual-Layer DVD+/-RW
            Monitor Type: LED Widescreen
            Touch Screen: Yes
            Screen Size: 21.5 inches
</pre>
                </div>
                <div id="panel3" class="tab-pane fade">
                    <h3>In future</h3>
                    <p>It is my favorites laptop (c) Jesus Christ</p>
                </div>
                <div id="panel4" class="tab-pane fade">
                    <h3>In future</h3>
                    <p>Photo</p>
                </div>
            </div>
        </div>
    </div>
</div>



