@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form style="width: 400px" role="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Firstname">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Lastname">
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="email1">Email: </span>
            <input type="text" class="form-control" placeholder="shop" aria-describedby="email1">
            <span class="input-group-addon" id="email2">@@</span>
            <input type="text" class="form-control" placeholder="gmail" aria-describedby="email2">
            <span class="input-group-addon" id="email3">.</span>
            <input type="text" class="form-control" placeholder="com" aria-describedby="email3">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="phone1">Phone: +38 (</span>
            <input type="text" class="form-control" placeholder="000" aria-describedby="phone1">
            <span class="input-group-addon" id="phone2">)</span>
            <input type="text" class="form-control" placeholder="00" aria-describedby="phone2">
            <span class="input-group-addon" id="phone3">-</span>
            <input type="text" class="form-control" placeholder="00" aria-describedby="phone3">
            <span class="input-group-addon" id="phone4">-</span>
            <input type="text" class="form-control" placeholder="000" aria-describedby="phone4">
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Address">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Register">
    </div>
</form>